/*style for the body of the page*/
body {
  background-color: powderblue;
}
/* Style the element with the id "myHeader" */
#myHeader {
    background-color: green;
    color: white;
    font-size: 250%;
    border: 10px solid darkgreen;
    padding: 40px;
    text-align: center;
}
/* Style all elements with the class name "city" */
.city {
    background-color: palegreen;
    color: darkgreen;
    border: 4px solid lightgreen;
    padding: 10px;
  }
/*Stlye the world map image*/
 #map {
  border: 8px solid blue;
  text-align: center;
 }