body {
  background-color: aliceblue;
}
h1 {
  background-color: navy;
  color:hsl(59, 100%, 79%);
  padding: 40px;
  text-align: center;
  font-size: 250%;
}
.paragraph1 {
  background-color: #9fcaff;
  font-size: 150%;
  font-family: monospace;
}

.image {
  text-align: center;
  border: solid cornflowerblue;
}